<!DOCTYPE html>
<html>
<head>
    <title>Чат: {{ chat.title }}</title>
</head>
<body>
    <h1>{{ chat.title }}</h1>

    <form method="get" action="{% url 'chat_list' %}">
    <button type="submit">Вернуться к списку чатов</button>
    </form>


    <p>Отображается {{ count }} последних сообщений</p>

    <form method="get">
        <label for="count">Показать сообщений:</label>
        <input type="number" name="count" id="count" value="{{ count }}" min="1" max="100">
        <button type="submit">Обновить</button>
    </form>

    <div id="messages">
        {% for message in messages %}
            <div class="message">
                <strong>Сообщение:</strong> {{ message.text }}
                <small>{{ message.created_at|date:"H:i d.m.Y" }}</small>
            </div>
        {% endfor %}
    </div>

    <form method="post">
        {% csrf_token %}
        <textarea name="text" rows="3" placeholder="Напишите сообщение..." required></textarea>
        <button type="submit">Отправить</button>
    </form>

    <form method="post" action="{% url 'chat_delete' chat.id %}" style="display:inline;">
    {% csrf_token %}
    <button type="submit">Удалить чат</button>
    </form>

</body>
</html>
